nltk
numpy
pandas
requests
scikit-learn==1.4.1.post1
streamlit==1.33.0

#download the english model
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl

spacy>=3.7.2,<3.8.0
